<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="" ng-app="iot"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="" ng-app="iot"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="" ng-app="iot"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="" ng-app="iot"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>iFridge</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16"/>
    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/jquery.fancybox.css">
    <link rel="stylesheet" href="css/flexslider.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/queries.css">
    <link rel="stylesheet" href="css/etline-font.css">
    <link rel="stylesheet" href="bower_components/animate.css/animate.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.2/Chart.min.js"></script>
    <script type="text/javascript" src="js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>
<body id="top" ng-controller="MainController">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<section class="hero" id="hero">
    <section class="navigation">
        <header>
            <div class="header-content">
                <div class="logo"><a href="#"><img src="img/if.png" alt="iFridge Logo"></a></div>
                <div class="header-nav">
                    <nav>
                        <ul class="primary-nav">
                            <li><a href="#features">Features</a></li>
                            <li><a href="#assets">Results</a></li>
                            <li><a href="#blog">Appendix</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                        <ul class="member-actions">
                            <li><a href="#" class="login">Log in</a></li>
                            <li><a href="#" class="btn-white btn-small">Sign up</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="navicon">
                    <a class="nav-toggle" href="#"><span></span></a>
                </div>
            </div>
        </header>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="hero-content text-center">
                    <h1>Intelligent Refrigerator </h1>
                    <p class="intro">TEAM: MON5 <br/> Xiaowen Li (xl2519) <br/> Guanlin Chen (gc2666) <br/> Xinzhe Yu
                        (xy2282) </p>
                    <a href="#abstract" class="btn btn-fill btn-large btn-margin-right">Abstract</a>
                    <a href="http://iotcolumbia2016mon5.weebly.com" class="btn btn-accent btn-large">Weebly</a>
                </div>
            </div>
        </div>
    </div>
    <div class="down-arrow floating-arrow"><a href="#abstract"><i class="fa fa-angle-down"></i></a></div>
</section>
<section class="intro section-padding" id="abstract">
    <div class="container">
        <div class="row">
            <div class="col-md-4 intro-feature">
                <div class="intro-icon">
                    <span data-icon="&#xe033;" class="icon"></span>
                </div>
                <div class="intro-content">
                    <h5>data collection</h5>
                    <p>Here we need to add something!!!!Easily customise Sedna to suit your start up, portfolio or
                        product. Take advantage of the layered
                        Sketch file and bring your product to life.</p>
                </div>
            </div>
            <div class="col-md-4 intro-feature">
                <div class="intro-icon">
                    <span data-icon="&#xe030;" class="icon"></span>
                </div>
                <div class="intro-content">
                    <h5>data analysis</h5>
                    <p>Designed with modern trends and techniques in mind, Sedna will help your product stand out in an
                        already saturated market.</p>
                </div>
            </div>
            <div class="col-md-4 intro-feature">
                <div class="intro-icon">
                    <span data-icon="&#xe046;" class="icon"></span>
                </div>
                <div class="intro-content last">
                    <h5>data visualization</h5>
                    <p>Built using the latest web technologies like html5, css3, and jQuery, rest assured Sedna will
                        look smashing on every device under the sun.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="features section-padding" id="features">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-7">
                <div class="feature-list">
                    <h3>Know About Refrigerator</h3>
                    <p>Compare the temperature and humidity change when open the fridge doors of two refrigerators. </p>
                    <ul class="features-stack">
                        <li class="feature-item">
                            <div class="feature-icon">
                                <span data-icon="&#xe03e;" class="icon"></span>
                            </div>
                            <div class="feature-content">
                                <h5>Test & Collect</h5>
                                <p>We keep collecting data of the refrigerators under different door opening time.</p>
                            </div>
                        </li>
                        <li class="feature-item">
                            <div class="feature-icon">
                                <span data-icon="&#xe040;" class="icon"></span>
                            </div>
                            <div class="feature-content">
                                <h5>Compare Graph</h5>
                                <p>We Put the humidity and temperature changes on fridges as graphs so users
                                    are able to determine the results on their own.</p>
                            </div>
                        </li>
                        <li class="feature-item">
                            <div class="feature-icon">
                                <span data-icon="&#xe03c;" class="icon"></span>
                            </div>
                            <div class="feature-content">
                                <h5>Show Dynamic Data</h5>
                                <p>We are able to show the current humidity and temperature change of a specific
                                    fridge.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="device-showcase">
        <div class="devices">
            <div class="ipad-wrap wp1"></div>
            <div class="iphone-wrap wp2"></div>
        </div>
    </div>
    <div class="responsive-feature-img"><img src="img/devices2.png" alt="responsive devices"></div>
</section>
<section class="features-extra section-padding" id="assets">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="feature-list">
                    <h3>Comparison of Fridges</h3>
                    <p>We have 5 minutes, 10 minutes and 15 minutes of door opening. </p>
                    <p>We compare the temperature changes, humidity changes.
                    </p>
                    <p></p>
                    <p></p>

                    <p></p>

                    <!--<a href="#comparison" class="btn btn-ghost btn-accent btn-small">Compare</a> -->
                    <button class="btn btn-default" ng-click="refresh_data()">Refresh</button>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>

                </div>
            </div>
        </div>
    </div>
    <div class="macbook-wrap wp3">
        <div class="leftcol" style="float:left;width: 550px; height: 400px">
            <canvas id="myChart3" width="100" height="100"></canvas>
        </div>
    </div>
</section>
<section class="comparison section-padding" id="comparison">

    <!--<div class="row" style="margin:30px auto; width: 80%; height: 400px">-->
    <!--<div class="leftcol" style="float:left;width: 400px; height: 300px">-->
    <!--<canvas id="myChart3" width="100" height="100"></canvas>-->
    <!--</div>-->
    <!--</div>-->

    <table class="table mytable">
        <tr>
            <td style="width: 40%">
                <div style="float:left;width: 400px; height: 300px" ng-show="my_select == op" ng-repeat="op in minutes">
                    <canvas id="{{'myChart1'+op}}" width="100" height="100"></canvas>
                </div>
            </td>
            <td style="width: 10%; text-align: center; vertical-align: middle;">
                <div class="mybutton" ng-repeat="op in minutes">
                    <button class="btn btn-default" ng-disabled="my_select==op"
                            ng-click="refresh_figure(op)">{{op}}
                    </button>
                </div>

            </td>
            <td style="width: 40%">
                <div style="float:right;width: 400px; height: 300px" ng-show="my_select == op"
                     ng-repeat="op in minutes">
                    <canvas id="{{'myChart2'+op}}" width="100" height="100"></canvas>
                </div>
            </td>
        </tr>

    </table>


    <div class="container">
        <!--<div class="choose">-->
        <!--<select ng-model="my_select" ng-change="refresh_figure(my_select)">-->
        <!--<option ng-repeat="op in select_arr" value="{{op}}">-->
        <!--{{op}}-->
        <!--</option>-->
        <!--</select>-->
        <!--</div>-->

    </div>

</section>
<section class="hero-strip section-padding">
    <div class="container">
        <div class="col-md-12 text-center">
            <h2>
                Customise Sedna with the included <span class="sketch">Sketch <i class="version">3</i></span> file
            </h2>
            <p>Change/swap/edit every aspect of Sedna before you hit development with the included Sketch file.</p>
            <a href="#" class="btn btn-ghost btn-accent btn-large">Download now!</a>
            <div class="logo-placeholder floating-logo"><img src="img/if2.png" alt="iFridge Logo"></div>
        </div>
    </div>
</section>
<section class="blog-intro section-padding" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Appendix</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 leftcol">
                <h5>PLATFORM</h5>
                <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                    est laborum.</p>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 rightcol">
                <h5>TOOLS</h5>
                <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                    est laborum.</p>
            </div>
        </div>
    </div>
</section>
<!--<section class="blog text-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <article class="blog-post">
                    <figure>
                        <a href="img/blog-img-01.jpg" class="single_image">
                            <div class="blog-img-wrap">
                                <div class="overlay">
                                    <i class="fa fa-search"></i>
                                </div>
                                <img src="img/blog-img-01.jpg" alt="Sedna blog image"/>
                            </div>
                        </a>
                        <figcaption>
                            <h2><a href="#" class="blog-category" data-toggle="tooltip" data-placement="top"
                                   data-original-title="See more posts">Product</a></h2>
                            <p><a href="#" class="blog-post-title">Getting started with Sedna <i
                                    class="fa fa-angle-right"></i></a></p>
                        </figcaption>
                    </figure>
                </article>
            </div>
            <div class="col-md-4">
                <article class="blog-post">
                    <figure>
                        <a href="img/blog-img-02.jpg" class="single_image">
                            <div class="blog-img-wrap">
                                <div class="overlay">
                                    <i class="fa fa-search"></i>
                                </div>
                                <img src="img/blog-img-02.jpg" alt="Sedna blog image"/>
                            </div>
                        </a>
                        <figcaption>
                            <h2><a href="#" class="blog-category" data-toggle="tooltip" data-placement="top"
                                   data-original-title="See more posts">Technology</a></h2>
                            <p><a href="#" class="blog-post-title">Why IE8 support is deminishing <i
                                    class="fa fa-angle-right"></i></a></p>
                        </figcaption>
                    </figure>
                </article>
            </div>
            <div class="col-md-4">
                <article class="blog-post">
                    <figure>
                        <a href="img/blog-img-03.jpg" class="single_image">
                            <div class="blog-img-wrap">
                                <div class="overlay">
                                    <i class="fa fa-search"></i>
                                </div>
                                <img src="img/blog-img-03.jpg" class="single_image" alt="Sedna blog image"/>
                            </div>
                        </a>
                        <figcaption>
                            <h2><a href="#" class="blog-category" data-toggle="tooltip" data-placement="top"
                                   data-original-title="See more posts">Product</a></h2>
                            <p><a href="#" class="blog-post-title">Sedna tutorial: How to begin your <i
                                    class="fa fa-angle-right"></i></a></p>
                        </figcaption>
                    </figure>
                </article>
            </div>
            <a href="#" class="btn btn-ghost btn-accent btn-small">More news</a>
        </div>
    </div>
</section> -->
<section class="testimonial-slider section-padding text-center" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="avatar"><img src="img/xiaowen.jpg" alt="Xiaowen Li"></div>
                            <h2>Dynamic data processing. UI design.</h2>
                            <p class="author"> Xiaowen Li (xl2519@columbia.edu) </p>
                        </li>
                        <li>
                            <div class="avatar"><img src="img/guanlin.jpg" alt="Guanlin Chen"></div>
                            <h2>Bosch platform. Data transmission.</h2>
                            <p class="author"> Guanlin Chen (gc2666@columbia.edu) </p>
                        </li>
                        <li>
                            <div class="avatar"><img src="img/xinzhe.jpg" alt="Xinzhe Yu"></div>
                            <h2>Data collection. Data analysis.</h2>
                            <p class="author"> Xinzhe Yu (xy2282@columbia.edu) </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--<section class="sign-up section-padding text-center" id="download">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h3>Get started with Sedna, absolutely free</h3>
                <p>Grab your copy today, exclusively from Codrops</p>
                <form class="signup-form" action="#" method="POST" role="form">
                    <div class="form-input-group">
                        <i class="fa fa-envelope"></i><input type="text" class="" placeholder="Enter your email"
                                                             required>
                    </div>
                    <div class="form-input-group">
                        <i class="fa fa-lock"></i><input type="text" class="" placeholder="Enter your password"
                                                         required>
                    </div>
                    <button type="submit" class="btn-fill sign-up-btn">Sign up for free</button>
                </form>
            </div>
        </div>
    </div>
</section> -->
<section class="to-top">
    <div class="container">
        <div class="row">
            <div class="to-top-wrap">
                <a href="#top" class="top"><i class="fa fa-angle-up"></i></a>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="footer-links">
                    <ul class="footer-group">


                    </ul>
                    <p> iFidge<br>
                        <a href="http://tympanus.net/codrops/licensing/">Licence</a> | Great Thanks <span
                                class="fa fa-heart pulse2"></span> To <a href="http://www.peterfinlan.com/">Peter
                            Finlan</a>.</p>
                </div>
            </div>
            <div class="social-share">
                <p>Share iFridge with your friends</p>
                <a href="https://twitter.com" class="twitter-share"><i class="fa fa-twitter"></i></a>
                <a href="https://facebook.com" class="facebook-share"><i class="fa fa-facebook"></i></a>
            </div>
        </div>
    </div>
</footer>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
<script src="bower_components/retina.js/dist/retina.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/scripts.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
<script src="bower_components/classie/classie.js"></script>
<script src="bower_components/jquery-waypoints/lib/jquery.waypoints.min.js"></script>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
                function () {
                    (b[l].q = b[l].q || []).push(arguments)
                });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = 'http://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>